/* You can add global styles to this file, and also import other style files */
.pusher {
    margin: 0 48px 0 300px;
    padding-top: 60px;
    width: auto;
    min-height: 80vh;
}
.segment {
    border-radius: .28571429rem;
    width: 100%;
    padding: 1rem;
    margin: 1.1rem 0 0 0;
}